
table{
  border-radius: 15px;
  border-spacing: 0px !important;
}


table th{
  background: black !important;
  color:white;
  font-weight:600 ;
  padding: 5px;
  border-right: 1px solid #6a6868;

}
td{
  padding: 5px;
  border-right: 1px solid #6a6868;
}

.select{
  margin: 10px ;
  z-index: 99;
}

.main-div{
  margin: 15px;
}

.searchbar{
  width: 100%;
 margin: 15px;
}
.searchbar input{
  border-radius: 4px;
  width: 60%;
  padding: 5px;
}